* {
    padding:0;
    margin:0;
}


html{
    background-color: rgb(83, 54, 27);
    
}


ul{
    display:block;
    list-style-type: none;
    text-decoration: none;
}

ul li{
    display:block;
    float:left;

    margin: 2rem 10%;
}


ul li a{
    text-decoration: none;
    color:black;
    
}

ul li a:hover{
    color:rgb(182, 118, 0);
}

nav{
    display: block;
}

main{
    clear:both;
    display: block;
    margin: 3rem 0 0;
}


h1{
    text-align: center;
}

main p,main h2, footer {
    margin: 0 0 0 2.5rem;
}

main h2, main p{
    margin: 0 0 2rem 2.5rem ;
    
}